// ========================================= //
// Checkout Steps
// ========================================= //

#checkout {
    #wrapper {
        @include media-breakpoint-down(md) {
            padding-top: 10px;
        }
    }
    .cart {
        &-grid {
            &-body {
                padding: 0 30px 0 0;
                @include media-breakpoint-down(md) {
                    padding: 0;
                }
            }
            &-right {
                @include media-breakpoint-down(md) {
                    margin-top: 40px;
                }
            }
        }
    }
    .card-block {
        padding: 0;
    }
    .cart {
        &-summary {
            &-products {
                &-top {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 26px 30px;
                    border-bottom: 1px solid var(--gray-7);
                    @include media-breakpoint-down(md) {
                        padding: 20px 0;
                    }
                    h2 {
                        font-size: 18px;
                        line-height: 1;
                        font-weight: 700;
                        text-transform: uppercase;
                        color: var(--red);
                        @include media-breakpoint-down(md) {
                            font-size: 16px;
                        }
                    }
                    .back__button {
                        font-size: 13px;
                        line-height: 1;
                        margin: 0;
                        @include media-breakpoint-down(md) {
                            display: none;
                        }
                    }
                }
            }
            &-totals {
                padding: 0 30px 30px;
                border-bottom: 1px solid var(--gray-7);
                @include media-breakpoint-down(md) {
                    padding: 0 0px 20px;
                }
            }
            &-subtotals {
                &-container {
                    padding: 30px 30px 0;
                    @include media-breakpoint-down(md) {
                        padding: 20px 0px 0;
                    }
                }
            }
        }
    }
    .promo-code {
        form {
            width: 100% !important;
        }
    }
}

.media {
    display: grid;
    grid-template-columns: rem(150) 1fr;
    &:not(:last-child) {
        border-bottom: rem(1) solid var(--gray-6);
    }
    &-list {
        border-top: rem(1) solid var(--black);
        border-bottom: rem(1) solid var(--black);
    }
    &-left,
    &-body {
        width: 100%;
    }
    &-left {
        padding: 0;
        img {
            width: 100%;
        }
    }
    &-body {
        padding: rem(10);
        @include media-breakpoint-up(lg) {
            padding: rem(15) rem(20) rem(15) rem(15);
        }
    }
    .product-line-info {
        .label,
        .value {
            font-size: rem(14);
            line-height: rem(17);
        }
    }
}

.checkout {
    &__title {
        font-family: var(--Lexend);
        font-size: rem(40);
        font-weight: 700;
        line-height: rem(44);
        letter-spacing: 0;
        pointer-events: none;
        text-transform: uppercase;
        margin-bottom: rem(30);
        @include media-breakpoint-up(lg) {
            font-size: rem(90);
            line-height: rem(99);
            margin-bottom: rem(60);
        }
    }
    &-step {
        &-complete {
            .step-title {
                @include media-breakpoint-down(sm) {
                    font-size: 13px;
                }
            }
        }
        .content {
            padding: 10px 0 20px;
            .identity {
                a {
                    font-weight: 600;
                    text-decoration: underline;
                }
            }
            #js-delivery {
                .btn {
                    margin-top: 10px;
                    max-width: 250px;
                    width: 100%;
                }
            }
            #payment-confirmation {
                .btn {
                    max-width: 250px;
                    width: 100%;
                }
            }
        }
        ul.login-choice {
            background: var(--gray-10);
            display: flex;
            justify-content: center;
            gap: 10px;
            padding: 20px 20px;
            margin: 0 0 30px;
            @include media-breakpoint-down(sm) {
                padding: 20px 15px;
            }
            li {
                color: var(--blue-2);
                a {
                    font-size: 14px;
                    font-weight: 400 !important;
                    &:hover {
                        text-decoration: underline;
                    }
                    &.active {
                        font-weight: 700 !important;
                        text-decoration: underline;
                    }
                }
            }
        }
        .js-address-form {
            .form-fields {
                display: flex;
                flex-flow: wrap;
                position: relative;
                margin: 0 -5px;
            }
            .form-group {
                max-width: 50%;
                width: 100%;
                flex: 0 0 auto;
                padding: 0 5px;
                @include media-breakpoint-down(sm) {
                    max-width: 100%;
                }
                &.phone {
                    max-width: 100%;
                }
            }
            .form-footer {
                display: flex;
                align-items: center;
            }
            .h4 {
                font-size: 14px;
                text-transform: uppercase;
                font-weight: 500;
                margin: 0 0 13px;
            }
        }
        #delivery-address {
            .form-footer {
                margin: 0 0 20px !important;
            }
        }
        form {
            width: 100% !important;
            &:not(#js-delivery) {
                [class^="col-"] {
                    width: 100%;
                    padding: 0;
                }
            }
            > .h4 {
                font-size: 14px;
                text-transform: uppercase;
                font-weight: 500;
                margin: 0 0 13px;
            }
            .add-address {
                & + .h4 {
                    margin: 20px 0 14px;
                }
            }
        }

         
        .step-title {
            font-size: 14px;
            font-weight: 600;
            text-transform: uppercase;
            cursor: pointer;
            padding: 20px 0;
            border-bottom: 1px solid var(--gray-7);
            color: var(--black);
            line-height: 1;
            display: flex;
            align-items: center;
            margin-bottom: 0;
            @include media-breakpoint-down(sm) {
                padding: 15px 0;
            }

            .step-number {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 30px;
                height: 30px;
                font-size: 16px;
                font-weight: 500;
                margin-right: 15px;
                vertical-align: middle;
                background-color: var(--black);
                color: white;
                @include media-breakpoint-down(md) {
                    width: 25px;
                    height: 25px;
                    font-size: 15px;
                    margin-right: 10px;
                }
            }
            .step-edit {
                font-family: var(--Lexend);
                margin: 0 0 0 auto !important;
                white-space: nowrap;
            }
        }
      

        .delivery-options {
            .carrier-logo {
                padding-left: 0;
                img {
                    max-width: 75px;
                    @include media-breakpoint-down(sm) {
                        max-width: 65px;
                    }
                }
            }
            .carrier-name {
                font-size: 13px;
                font-weight: 600;
                text-transform: uppercase;
                @include media-breakpoint-down(sm) {
                    font-size: 12px;
                }
            }
            .carrier-delay {
                font-size: 13px;
                @include media-breakpoint-down(sm) {
                    font-size: 12px;
                }
            }
            .carrier-price {
                font-size: 13px;
                color: var(--blue-2);
                font-weight: 600;
                text-transform: uppercase;
                @include media-breakpoint-down(sm) {
                    font-size: 12px;
                }
            }
        }
    }
}

.page-order-confirmation {
    #wrapper {
        padding: 60px 0;
        @include media-breakpoint-down(md) {
            padding: 40px 0;
        }
    }
    .breadcrumb {
        display: none;
    }
    .card,
    .card-block,
    [class*="col-"] {
        padding: 0;
    }
    #content-wrapper {
        max-width: 700px;
        margin: 0 auto; 
    }
    .confirmation-header {
        text-align: center;
        margin: 0 0 60px;
        @include media-breakpoint-down(md) {
            margin: 0 0 30px;
        }
        h1 {
            font-size: 30px;
            line-height: 1;
            font-weight: 700;
            color: var(--blue-2);
            text-transform: uppercase;
            margin: 0 0 15px;
            @include media-breakpoint-down(md) {
                font-size: 18px;
                line-height: normal;
                margin: 0 0 10px;
            }
        }
        p {
            font-size: 15px;
            line-height: normal;
            margin: 0;
            @include media-breakpoint-down(md) {
                font-size: 14px;
            }
            a {
                color: var(--blue-2) !important;
                font-weight: 600;
                text-decoration: underline;
            }
        }
    }
    .order-content-bottom {
        margin: 20px 0 0;
        p,strong {
            font-size: 14px;    
        }
    }
    #ps_cashondelivery-displayOrderConfirmation {
        padding: 20px 20px;
        background-color: var(--yellowLight);
        border-radius: 10px;
        margin: 0 0 20px;
        p {
            position: relative;
            font-size: 14px;
            line-height: 18px;
            margin: 0 0 5px;
            padding-left: 13px;
            &:before {
                content: '';
                position: absolute;
                top: 6px;
                left: 0;
                width: 4px;
                height: 4px;
                background: var(--blue-2);
                border-radius: 50%;
            }
            a {
                text-decoration: underline;
                color: var(--blue-2) !important;
                font-weight: 600;
            }
        }
    }
}