// ========================================= //
// Forgotten Password
// ========================================= //

.forgotten-password {

    [class^="col-"] {
        width: 100% !important;
        padding: 0;
    }

    .email {
        margin-bottom: rem(30);
    }
}
